<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="assets/estilos.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c8070a25c5.js" crossorigin="anonymous"></script>
    
    <!-- meta etiquetas/SEO -->
        <meta name="description" content="Alforjas y bolsos para ciclistas con diseño innovador y hechas en Chile con amor">
        <meta name="keywords" content="alforjas, bicicleta, ortlieb, mochila, bolsos, artesanal, hecho en chile, a prueba de agua, cicloturismo, bici, thule, kepe, k'epe, aymara, urbana, notebook, deportes, ciclismo, paseo, impermeable">
        <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
        <meta property="og:title" content="K’epe bags- alforjas y bolsos para bicicletas made in Chile">
        <meta property="og:url" content="https://www.kepe.com/productos">
        <meta property="og:image" content="https://i.ibb.co/mtWGF16/alforja-amarilla.jpg">
        <meta property="og:description" content="Visita nuestras tiendas para probar nuestros productos">
        <meta property="og:locale" content="es_CL">
        <title>Contacto</title>
    </head>

  <body>



	<!-- formulario de contacto-->			
	<main>
		<h2>Contacto</h2>
		<section class="container">
			<form action="contacto.php" method="POST" enctype="multipart/form-data">
					<div class="form-row contacto__formulario">
					  <div class="col-md-4 mb-3">
						<label for="validationDefault01">Nombre</label>
						<input type="text" class="form-control" id="validationDefault01" placeholder="Nombre" required>
					  </div>
					  <div class="col-md-4 mb-3">
						<label for="validationDefault02">Apellido</label>
						<input type="text" class="form-control" id="validationDefault02" placeholder="Apellido" required>
					  </div>
					  <div class="col-md-4 mb-3">
						<label for="validationDefault03">E-mail</label>
						<input type="email" class="form-control" id="validationDefault03" placeholder="E-mail" required>
					  </div>
					</div>
					<div class="form-row contacto__formulario">
					  <div class="col-md-6 mb-3">
						<label for="validationDefault04">Ciudad</label>
						<input type="text" class="form-control" id="validationDefault04" placeholder="Ciudad" required>
					  </div>
					  <div class="col-md-3 mb-3">
						<label for="validationDefault05">Región</label>
						<input type="text" class="form-control" id="validationDefault05" placeholder="Región" required>
					  </div>
					  <div class="col-md-3 mb-3">
						<label for="validationDefault06">País</label>
						<input type="text" class="form-control" id="validationDefault06" placeholder="País" required>
					  </div>
					</div>
					<div class="form-row contacto__formulario">
						<div class="col-md-12 mb-12">
						  <label for="validationDefault07">Mensaje</label>
						  <textarea class="form-control" id="validationDefault07" placeholder="Escribe aquí tu mensaje" required></textarea>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" value="" id="invalidCheck2" required>
							<label class="form-check-label" for="invalidCheck2">¿Quieres recibir el newsletter?</label>
						  </div>
					</div>	
					<div>
						<button class="btn btn-light" type="submit">Enviar datos</button>
						<button class="btn btn-outline-warning" type="reset" value="Limpiar datos">Limpiar datos</button>
					</div>
			</form>
		</main>
	 <!-- fin formulario de contacto-->		
    
        <!-- footer -->
        <footer class="page-footer font-small unique-color-dark">
            <div>
                <div class="container">
                    <div class="row py-4 d-flex align-items-center">
                        <div class="col-md-8 col-lg-6 text-center text-md-left mb-4 mb-md-0">
                            <p class="mb-0 pieDePagina__texto">&#169 2021 Todos los derechos reservados. Sitio desarrollado por Pablo Aguila</p>
                        </div>
                        <div class="col-md-4 col-lg-6 text-center  text-md-right">
                            <span>
                                <a href="https://www.facebook.com/kepebikebags"><i class="fab fa-facebook-square fa-3x"></i></a>
                            </span>
                            <span>
                                <a href="https://www.instagram.com/kepe_bags"><i class="fab fa-instagram fa-3x"></i></a>
                            </span>
                            <span>
                                <a href="http://www.youtube.com"><i class="fab fa-youtube fa-3x"></i></a>
                            </span> 
                        </div>
                    </div>
                </div>
            </div>
        </footer>
     <!-- fin footer -->

		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 	</body>
</html>