<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="assets/estilos.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c8070a25c5.js" crossorigin="anonymous"></script>
    
    <!-- meta etiquetas/SEO -->
        <meta name="description" content="Alforjas y bolsos para ciclistas con diseño innovador y hechas en Chile con amor">
        <meta name="keywords" content="alforjas, bicicleta, ortlieb, mochila, bolsos, artesanal, hecho en chile, a prueba de agua, cicloturismo, bici, thule, kepe, k'epe, aymara, urbana, notebook, deportes, ciclismo, paseo, impermeable">
        <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
        <meta property="og:title" content="K’epe bags- alforjas y bolsos para bicicletas made in Chile">
        <meta property="og:url" content="https://www.kepe.com/productos">
        <meta property="og:image" content="https://i.ibb.co/mtWGF16/alforja-amarilla.jpg">
        <meta property="og:description" content="Visita nuestras tiendas para probar nuestros productos">
        <meta property="og:locale" content="es_CL">
        <title>Productos</title>
    </head>

<body>
    	<!-- sección productos -->
	<main>
		<h2>Productos</h2>
            <section class="container">
                <div class="card-columns">
                    <div class="card p-3 text-center mx-auto">
                      <img class="card-img-top productos__img" src="https://i.ibb.co/9v9TrJ0/naranjo.jpg" alt="alforja naranja">
                        <div class="card-body">
                          <h4 class="card-title">Cavancha</h4>
                          <p class="card-text productos__texto">Alforja-mochila tan naranja como la arena al atardecer, impermeable y cómoda</p>
                        </div>
                    </div>
                    <div class="card p-3 text-center mx-auto">
                        <img class="card-img-top productos__img" src="https://i.ibb.co/9NsMW2N/negro.jpg" alt="alforja negra">
                            <div class="card-body">
                            <h4 class="card-title">Bombín</h4>
                            <p class="card-text productos__texto">Alforja-mochila en seductor color negro azabache, impermeable y cómoda</p>
                            </div>
                    </div>
                    <div class="card p-3 text-center mx-auto">
                        <img class="card-img-top productos__img" src="https://i.ibb.co/DGr0LVV/amarillo.jpg" alt="alforja amarilla">
                            <div class="card-body">
                            <h4 class="card-title">Aroma</h4>
                            <p class="card-text productos__texto">Alforja-mochila amarilla como el sol del desierto, impermeable y cómoda</p>
                            </div>
                    </div>
                    <div class="card p-3 text-center mx-auto">
                      <img class="card-img-top productos__img" src="https://i.ibb.co/vh2jnhh/rojo.jpg" alt="alforja roja">
                        <div class="card-body">
                            <h4 class="card-title">Panqara</h4>
                            <p class="card-text productos__texto">Alforja-mochila de vibrante color de flor cordillerana, impermeable y cómoda</p>
                        </div>
                    </div>
                    <div class="card p-3 text-center mx-auto">
                      <img class="card-img-top productos__img" src="https://i.ibb.co/n1CbpDr/IMG-9740-copiar.jpg" alt="alforja azul">
                        <div class="card-body">
                            <h4 class="card-title">Awatiri</h4>
                            <p class="card-text productos__texto">Alforja-mochila azul como las aguas cielo altiplánico, impermeable y cómoda</p>
                        </div>
                    </div>
                    <div class="card p-3 text-center mx-auto">
                      <div class="card-body">
                          <h4 class="card-title">Características</h4>
                          <p class="card-text productos__texto">Todas las alforjas se transforman en mochila, son impermeables y cómodas. Cuentan con un bolsillo interior para el laptop. Resisten hsta 12 kgs de carga, miden 30 x 50 cma y pesan 1 kg. Disponibles en 5 colores. </p>
                          <a href="../views/tiendas.html" class="btn btn-light">Dónde estamos</a>
                      </div>          
                </div>
            </section>
	<!-- fin sección productos -->


    <!-- footer -->
    <footer>
        <div class="pieDePagina">
            <p class="pieDePagina__texto">&#169 2021 Todos los derechos reservados. Sitio desarrollado por Pablo Aguila</p>
        </div>    
    </footer>
    <!-- fin footer -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>