<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="assets/estilos.css"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Syne+Tactile&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c8070a25c5.js" crossorigin="anonymous"></script>
    
    <!-- meta etiquetas/SEO -->
        <meta name="description" content="Alforjas y bolsos para ciclistas con diseño innovador y hechas en Chile con amor">
        <meta name="keywords" content="alforjas, bicicleta, ortlieb, mochila, bolsos, artesanal, hecho en chile, a prueba de agua, cicloturismo, bici, thule, kepe, k'epe, aymara, urbana, notebook, deportes, ciclismo, paseo, impermeable">
        <link rel="shortcut icon" href="../img/favicon.ico" type="image/x-icon">
        <meta property="og:title" content="K’epe bags- alforjas y bolsos para bicicletas made in Chile">
        <meta property="og:url" content="https://www.kepe.com/productos">
        <meta property="og:image" content="https://i.ibb.co/mtWGF16/alforja-amarilla.jpg">
        <meta property="og:description" content="Visita nuestras tiendas para probar nuestros productos">
        <meta property="og:locale" content="es_CL">
        <title>Tiendas: ¿quieres comprar o ver nuestras alforjas K’epe? Mira acá</title>
    </head>

<body>
    <header>
		<nav class="navbar navbar-expand-lg menu">
			<a class="navbar-brand" href="../index.html"><h1>K'epe bags</h1></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" 
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
					aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"><i class="fas fa-bars fa-2x"></i></span>
			</button>           
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
				<a class="nav-link menu__efectos" href="../index.html">Inicio <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
				<a class="nav-link menu__efectos" href="productos.html">Productos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link menu__efectos" href="quienessomos.html">Quiénes somos</a>
				</li>
				<li class="nav-item">
					<a class="nav-link menu__efectos" href="tiendas.html">Tiendas</a>
				</li>
				<li class="nav-item">
					<a class="nav-link menu__efectos" href="contacto.html">Contacto</a>
				</li>
			</ul>
			<div class="my-2 my-lg-0">
				<a href="../index.html" aria-label="kepe"><img class="logo" src="https://i.ibb.co/3TqnZd0/logo.jpg" alt="logo kepe"></a>                    
			</div>
			</div>
		</nav>
	</header>
    
    <main>
        <h2>Tiendas</h2>
         <section class="tiendas">
        <!--    <div class="row"></div> -->
                 <div class="col-sm-6 mx-auto">
                   <div class="card mx-auto">
                         <h3>Tienda Las Condes</h3>
                         <iframe class="tiendas__link" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.1294189278415!2d-70.5592305850926!3d-33.419870103328876!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662ceee1d379413%3A0x66f9d831e03633c2!2sMart%C3%ADn%20Alonso%20Pinz%C3%B3n%207097%2C%20Las%20Condes%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1624318435205!5m2!1ses-419!2scl" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                         <div class="card-body">
                           <p class="card-text tiendas__texto">Martín Alonso Pinzón 7097<br>Las Condes, Santiago<br>Chile</p>
                         </div>
                   </div>
                 </div>
     
                 <div class="col-sm-6 mx-auto">
                   <div class="card mx-auto">
                         <h3>Tienda Vitacura</h3>
                         <iframe class="tiendas__link" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.730675345637!2d-70.59549098509311!3d-33.40419000252497!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662cf375fb0b22d%3A0xf448caf64113c2c9!2sLas%20Nieves%203681%2C%20Vitacura%2C%20Regi%C3%B3n%20Metropolitana!5e0!3m2!1ses-419!2scl!4v1624317584017!5m2!1ses-419!2scl" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                         <div class="card-body">
                           <p class="card-text tiendas__texto">Las Nieves 3681<br>Vitacura, Santiago<br>Chile</p>
                         </div>
                   </div>
                 </div>
             
         </section>
       </main>
      <!-- fin sección mapas de tiendas -->




            <!-- footer -->
            <footer class="page-footer font-small unique-color-dark">
              <div>
                  <div class="container">
                      <div class="row py-4 d-flex align-items-center">
                          <div class="col-md-8 col-lg-6 text-center text-md-left mb-4 mb-md-0">
                              <p class="mb-0 pieDePagina__texto">&#169 2021 Todos los derechos reservados. Sitio desarrollado por Pablo Aguila</p>
                          </div>
                          <div class="col-md-4 col-lg-6 text-center  text-md-right">
                              <span>
                                  <a href="https://www.facebook.com/kepebikebags"><i class="fab fa-facebook-square fa-3x"></i></a>
                              </span>
                              <span>
                                  <a href="https://www.instagram.com/kepe_bags"><i class="fab fa-instagram fa-3x"></i></a>
                              </span>
                              <span>
                                  <a href="http://www.youtube.com"><i class="fab fa-youtube fa-3x"></i></a>
                              </span> 
                          </div>
                      </div>
                  </div>
              </div>
          </footer>
       <!-- fin footer -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>