/* estilo Home  */


main {

    .inicio__img {
        margin: auto;
        animation-duration: 7s;
        animation-name: aparecer;
        animation-iteration-count:initial;
    }
     
    @keyframes aparecer {
        0% {
            opacity: 0;  /* cuando no tiene animación*/
        }
        100% {
            opacity: 1;  /* cuando tiene animación*/
        }
    }
    
    img {
        height: auto;
        width: 75%;
        padding: 1rem;
    }
    .inicio__texto {
        font-family: $fuente_parrafos;
        font-size: 1rem;
        color: $color-fuente;
        font-weight: 700;
        padding: 1.2rem;
        text-align: center;
    }

}
