/* estilo Contacto */

main {

    .container {
        @include boxprincipal(nowrap,3em 15%);
        padding: 1rem;
        margin-bottom: 7rem;
    }

    .contacto__formulario {
        font-family: $fuente_parrafos;
        font-size: 1rem;
        color: $color-fuente;
        padding: 0.5em;
        margin: 0.5em;
    }
    .form-check {
        padding: 0.5rem;
    }
    
    button {
        margin: 0.5rem;
        font-family: $fuente_parrafos;
        font-size: 0.9rem;     
    }

    .btn {
        color: $color-kepe;
        background-color: $color-fuente;
       

    }
}
