/* estilo general */
* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to top, $bg-color_claro, $bg-color_oscuro);
  }

  h2 {
	color: $color_kepe;
	font-family: $fuente_parrafos;
	font-size: 2rem;
	text-align: center;
	margin-top: 1rem;
}