/* estilo Productos  */

main {

    .card {
      background: $bg-color_claro;
      margin: 0.5rem;
  }

  .productos__img {
      width: 100%;
      height: $height_img;
      max-height: 280px; 

      &:hover {	
          transform: scale(1.2,1.2);
          transition: 0.7s;
      }
  }

  h4 {
      font-family: $fuente_parrafos;
      font-size: 1.1rem;
      text-align: center;
      color:$color_kepe;
      font-weight: bold;
  }

  .productos__texto {
      font-family: $fuente_parrafos;
      font-size: 0.9rem;
      text-align: center;
      color: $color_kepe;
      font-weight: bold;
  }
  
  .card-body {
      margin-top: 0.5rem;
      padding: 0;
  }
}

