/* estilo Quiénes somos */
main {

    .container-fluid {
        @include boxprincipal(wrap,3rem 15%);
        padding: 0;
        margin-bottom: 8rem;
    }

    .nosotros__texto {
        font-family: $fuente_parrafos;
        font-size: 0.9rem;
        color: $color-fuente;
        padding: 1rem;
        height: 100%;
    }

    .nosotros__img {
		width: 100%;
		height: ($height_img); 
		@extend .nosotros__video; 
    }

    .nosotros__video { //clase que define el extend
        margin: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 1rem;
    }
    
}
