// variables
$color_kepe: #E64D19;
$bg-color_oscuro: #FA8E69;
$bg-color_claro: #F7D27E;
$color-fuente: #FFEBCD;
$fuente_kepe: 'Syne Tactile', cursive;
$fuente_titulos: 'Julee', cursive;
$fuente_parrafos: 'Josefin Sans', sans-serif;
$height_img: auto;